@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-50: 0.9434 0.0328 307.17; /* oklch(0.9434 0.0328 307.17) #f2e7fe */
    --color-primary-100: 0.8263 0.1137 308.36; /* oklch(0.8263 0.1137 308.36) #dbb2ff */
    --color-primary-200: 0.72 0.1723 303.07; /* oklch(0.72 0.1723 303.07) #bb86fc */
    --color-primary-300: 0.6274 0.22 295.69; /* oklch(0.6274 0.22 295.69) #985eff */
    --color-primary-400: 0.5556 0.2619 291.86; /* oklch(0.5556 0.2619 291.86) #7f39fb */
    --color-primary-500: 0.4814 0.2784 286.54; /* oklch(0.4814 0.2784 286.54) #6200ee */
    --color-primary-600: 0.4634 0.27 283.21; /* oklch(0.4634 0.27 283.21) #5600e8 */
    --color-primary-700: 0.3732 0.2273 279.07; /* oklch(0.3732 0.2273 279.07) #3700b3 */
    --color-primary-800: 0.3382 0.2051 279.66; /* oklch(0.3382 0.2051 279.66) #30009c */
    --color-primary-900: 0.2641 0.1521 283.05; /* oklch(0.2641 0.1521 283.05) #23036a */
    --color-primary-950: 0.2389 0.1521 283.05; /* oklch(0.2389 0.1521 283.05) #1e0062 */

    /* Grayscale/Neutral */
    --color-gray-50: 0.985 0 0; /* oklch(0.985 0 0) #f4f4f4 */
    --color-gray-100: 0.97 0 0; /* oklch(0.97 0 0) #e0e0e0 */
    --color-gray-200: 0.922 0 0; /* oklch(0.922 0 0) #c6c6c6 */
    --color-gray-300: 0.87 0 0; /* oklch(0.87 0 0) #a8a8a8 */
    --color-gray-400: 0.708 0 0; /* oklch(0.708 0 0) #8d8d8d */
    --color-gray-500: 0.556 0 0; /* oklch(0.556 0 0) #6f6f6f */
    --color-gray-600: 0.439 0 0; /* oklch(0.439 0 0) #525252 */
    --color-gray-700: 0.351 0 0; /* oklch(0.371 0 0) #393939 */
    --color-gray-800: 0.24 0 0; /* oklch(0.269 0 0) #262626 */
    --color-gray-900: 0.205 0 0; /* oklch(0.205 0 0) #161616 */
    --color-gray-950: 0.145 0 0; /* oklch(0.145 0 0) #0f0f0f */

    --color-white: 100% 0 0; /* oklch(100% 0 0) #ffffff */
    --color-black: 0% 0 0; /* oklch(0% 0 0) #000000 */

    --color-destructive: 47.76% 0.193 23.59; /* oklch(47.76% 0.193 23.59) #B00020 */

    --color-border: 0.88 0 0; /* oklch(0.88 0 0) #e0e0e0 */
    --color-layer: var(--color-white); /* oklch(100 0 0) #ffffff */

    --color-background: var(--color-white);
    --color-foreground: var(--color-gray-950);

    --color-accent: var(--color-gray-100); /* oklch(0.922 0 0) #c6c6c6 */
    --color-muted: 0.95 0 0; /* oklch(95% 0 0) #eeeeee */
    --color-muted-foreground: var(--color-gray-500);
    --color-secondary22: 98% 0.0307 182.71; /* oklch(0.7976 0.0707 182.71) #88ccc1 */

    --color-secondary: 0.96 0.0328 307.17; /* oklch(0.96 0.0328 307.17) #f8ecff */

    --background: var(--color-background);
    --foreground: var(--color-foreground);
    --card: var(--color-layer);
    --card-foreground: var(--color-foreground);
    --popover: var(--color-layer);
    --popover-foreground: var(--color-foreground);
    --primary: var(--color-primary-500);
    --primary-foreground: var(--color-white);

    --secondary: var(--color-secondary); /* var(--color-secondary) */
    --secondary-foreground: var(--color-primary-500);

    --muted: var(--color-muted);
    --muted-foreground: var(--color-muted-foreground);
    --accent: var(--color-secondary);
    --accent-foreground: var(--color-primary-500);
    --destructive: var(--color-destructive);
    --destructive-foreground: var(--color-white);
    --border: var(--color-border);
    --input: var(--color-border);
    --ring: var(--color-primary-100);

    --radius: 0.4rem;

    --chart-1: 55.65% 0.24 261.95; /* oklch(55.65% 0.24 261.95) */
    --chart-2: 62.91% 0.1 192.36; /* oklch(62.91% 0.1 192.36) */
    --chart-3: 66.89% 0.19 357.26; /* oklch(66.89% 0.19 357.26) */
    --chart-4: 64.06% 0.16 246.5; /* oklch(64.06% 0.16 246.5) */
    --chart-5: 66.62% 0.2 22.13; /* oklch(66.62% 0.2 22.13) */

    /* --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%; */

    --sidebar-background: var(--color-background);
    --sidebar-foreground: var(--color-foreground);
    --sidebar-primary: var(--color-primary-500);
    --sidebar-primary-foreground: var(--color-white);
    --sidebar-accent: var(--color-accent);
    --sidebar-accent-foreground: var(--color-foreground);
    --sidebar-border: var(--color-border);
    --sidebar-ring: var(--color-primary-500);
  }
  .dark {
    --color-background: var(--color-gray-900); /* oklch(0.145 0 0) #0f0f0f */
    --color-foreground: var(--color-white); /* oklch(100 0 0) #ffffff */

    --color-layer: var(--color-gray-800); /* oklch(0.985 0 0) #f4f4f4 */

    --color-border: var(--color-gray-700); /* oklch(0.87 0 0) #a8a8a8 */

    --color-destructive: 0.6396 0.1336 10.23; /* oklch(0.6396 0.1336 10.23) #CF6679 */

    --color-muted: var(--color-gray-700); /* oklch(0.371 0 0) #393939 */
    --color-muted-foreground: var(
      --color-gray-400
    ); /* oklch(0.87 0 0) #a8a8a8 */

    --background: var(--color-background);
    --foreground: var(--color-foreground);
    --card: var(--color-layer);
    --card-foreground: var(--color-foreground);
    --popover: var(--color-layer);
    --popover-foreground: var(--color-foreground);
    --primary: var(--color-primary-200);
    --primary-foreground: var(--color-black);
    --secondary: var(--color-gray-700);
    --secondary-foreground: var(--color-white);
    --muted: var(--color-muted);
    --muted-foreground: var(--color-muted-foreground);
    --accent: var(--color-muted);
    --accent-foreground: var(--color-foreground);
    --destructive: var(--color-destructive);
    --destructive-foreground: var(--color-black);
    --border: var(--color-border);
    --input: var(--color-border);
    --ring: var(--color-primary-200);

    --chart-1: 62.65% 0.24 261.95; /* oklch(62.65% 0.24 261.95) */
    --chart-2: 68.91% 0.1 192.36; /* oklch(68.91% 0.1 192.36) */
    --chart-3: 69.89% 0.19 357.26; /* oklch(69.89% 0.19 357.26) */
    --chart-4: 69.06% 0.16 246.5; /* oklch(69.06% 0.16 246.5) */
    --chart-5: 69.62% 0.2 22.13; /* oklch(69.62% 0.2 22.13) */

    /* --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%; */

    --sidebar-background: var(--color-background);
    --sidebar-foreground: var(--color-foreground);
    --sidebar-primary: var(--color-primary-400);
    --sidebar-primary-foreground: var(--color-white);
    --sidebar-accent: var(--color-accent);
    --sidebar-accent-foreground: var(--color-foreground);
    --sidebar-border: var(--color-border);
    --sidebar-ring: var(--color-primary-400);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
